body {
    height: 100vh;
    margin: 0px;
}  

h1 {
    font-family: 'Montserrat';
    border: 1px solid red;
  
}

.box {
    height: calc(100% - 40px);
    width: 100%;
    margin: 10px;
    background-image: url(http://source.unsplash.com/random);
    background-repeat: no-repeat;
    background-position: bottom right;
} 

.box::after {
    content: "Aqui vem alguma mensagem";
    color: white;
}