@charset "UTF-8";

.container {
    background-color: blanchedalmond;
    height: 800px;
    display: flex;
    flex-direction: row; /* direção padrão */
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
      
}
.container div {
    border: 1px solid rgba(243, 17, 17, 0.849);
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    flex-basis: 200px;
}

.container div p {
    background-color: rgb(217, 225, 230);
}

.container div > h1 {
    background-color: rgb(243, 243, 83);
}

