body {
    display: flex;
    justify-content: center;
}

.face {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    border-radius: 10px;
    
}

#card {
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
    transition: all .5s;
}

#front {
    background-color: rgb(0, 110, 255);
    transform: rotateY(180deg); /* Efeito Espelhado*/
}
#back {
    background-color: rgb(11, 11, 185);
    
}

.flip {
    transform: rotateY(180deg);
}
