* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
--cor-fundo: rgb(34, 41, 37);
--cor-hover: rgb(118, 180, 145);
--cor-primaria: rgb(5, 17, 11);
}

.dp-menu ul {
  list-style-type: none;
  padding: 0;
}

.dp-menu ul {
  background-color: linear-gradient(60deg,#25C0DB,#2602db);
}

.dp-menu ul li {
 display: inline;
 position: relative;
}

.dp-menu ul li a {
 
  font-weight: bolder;
  color: var(--cor-primaria);
  text-decoration: none;
  display: inline-block;
  padding: 10px;
}

.dp-menu ul li a:hover {
  background-color: var(--cor-hover);
}

/* Sub-menu*/
.dp-menu ul ul {
  display: none;
  left: 0px;
  position: absolute;
}

.dp-menu ul li:hover ul {
  display: block;
}

.dp-menu ul ul {
  width: 150px;
}

.dp-menu ul ul li a {
  display: block;
}